<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.duesclerk"
    android:targetSandboxVersion="2"
    tools:targetApi="o">
    <!-- Permissions -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" /> <!-- Features -->
    <uses-feature
        android:name="android.hardware.Camera2"
        android:required="false" /> <!-- Queries -->
    <queries>
        <package android:name="com.karumi.dexter" />
        <package android:name="com.bumptech.glide" />
        <package android:name="com.yalantis.ucrop" />
    </queries>

    <application
        android:name=".custom.custom_utilities.ApplicationClass"
        android:allowBackup="true"
        android:appCategory="productivity"
        android:fullBackupContent="false"
        android:hardwareAccelerated="true"
        android:icon="@drawable/app_logo"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DuesClerk"
        android:usesCleartextTraffic="false"
        android:windowSoftInputMode="adjustResize"
        tools:targetApi="o">
        <activity
            android:name=".activities.EmailVerificationActivity"
            android:label="@string/title_activity_email_verification"
            android:theme="@style/Theme.DuesClerk.NoActionBar">

            <intent-filter
                android:icon="@drawable/app_logo"
                android:label="@string/app_name">
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.AccountSettings"
            android:label="@string/title_activity_account_settings"
            android:theme="@style/Theme.DuesClerk.NoActionBar" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="fullSensor"
            android:theme="@style/AppTheme.NoActionBar" /> <!-- uCrop cropping activity -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider> <!-- cache directory file provider paths -->
        <activity
            android:name=".activities.ClientProfileActivity"
            android:colorMode="wideColorGamut"
            android:label="@string/title_activity_profile"
            android:theme="@style/Theme.DuesClerk.NoActionBar" />
        <activity
            android:name=".ui.SignInActivity"
            android:colorMode="wideColorGamut"
            android:label="@string/title_fragment_sign_in"
            android:parentActivityName=".activities.SignInSignupActivity"
            android:theme="@style/Theme.DuesClerk.NoActionBar" />
        <activity
            android:name=".ui.BusinessSignup"
            android:colorMode="wideColorGamut"
            android:label="@string/title_fragment_signup"
            android:parentActivityName=".activities.SignInSignupActivity"
            android:theme="@style/Theme.DuesClerk.NoActionBar" />
        <activity
            android:name=".ui.PersonalSignup"
            android:colorMode="wideColorGamut"
            android:label="@string/title_activity_signin_signup"
            android:parentActivityName=".activities.SignInSignupActivity"
            android:theme="@style/Theme.DuesClerk.NoActionBar" />
        <activity
            android:name=".activities.SignInSignupActivity"
            android:colorMode="wideColorGamut"
            android:label="@string/title_fragment_sign_in_sign_up"
            android:theme="@style/Theme.DuesClerk.NoActionBar" />
        <activity
            android:name=".ui.AppMenu"
            android:colorMode="wideColorGamut"
            android:label="@string/tittle_fragment_app_menu"
            android:parentActivityName=".activities.MainActivity" />
        <activity
            android:name=".ui.PeopleOwingMe"
            android:colorMode="wideColorGamut"
            android:label="@string/title_fragment_people_owing_me"
            android:parentActivityName=".activities.MainActivity" />
        <activity
            android:name=".ui.People_I_Owe"
            android:colorMode="wideColorGamut"
            android:label="@string/title_fragment_people_i_owe"
            android:parentActivityName=".activities.MainActivity" />
        <activity
            android:name=".activities.MainActivity"
            android:colorMode="wideColorGamut"
            android:label="@string/app_name"
            android:theme="@style/Theme.DuesClerk.NoActionBar">
        </activity>
        <activity
            android:name=".activities.SplashActivity"
            android:colorMode="wideColorGamut"
            android:label="@string/app_name"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen"/>
    </application>

</manifest>